@model QLKS.Phong

@{
    ViewBag.Title = "Xóa Phòng";
}

<h3>Bạn có muốn xóa phòng không?</h3>
<h2 style="color:red">Chú ý:hãy cân nhắc thật kĩ khi xóa một phòng vì khi xóa có thể bị mất giá trị ở trang thuê phòng</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaPhong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaPhong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenPhong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenPhong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiPhong.TenLoai)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.MaLoai)
            @{
                if (Model.MaLoai == 1)
                {
                    Model.LoaiPhong.TenLoai = "A";
                    @Html.DisplayFor(model => model.LoaiPhong.TenLoai)
                }
                else if (Model.MaLoai == 2)
                {
                    Model.LoaiPhong.TenLoai = "B";
                    @Html.DisplayFor(model => model.LoaiPhong.TenLoai)
                }
                else if (Model.MaLoai == 3)
                {
                    Model.LoaiPhong.TenLoai = "C";
                    @Html.DisplayFor(model => model.LoaiPhong.TenLoai)
                }

            }

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiPhong.Dongia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiPhong.Dongia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>

        <dd>
            @Html.HiddenFor(model => model.TinhTrang)
            @Html.DisplayFor(model => model.ChuyenKieuTinhTrang)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div style="margin-left:30px;" class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-primary1" /> 
            @Html.ActionLink("Trở về danh sách phòng", "TrangPhòng",null,new { @class="btn btn-primary1"})
        </div>
    }
</div>
